.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--color-bg);
    z-index: 10;
}

.header-inner {
    border: 8px solid black;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    height: var(--header-height) - 44;
    width: auto;
}

.btn--outline {
    background-color: var(--color-bg);
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.btn--outline:hover {
    background-color: var(--color-hover);
    border-color: var(--color-hover);
    color: var(--color-primary);
    transform: translateY(-1px);
}

@media (max-width: 1024px) {
    .container {
        padding: 0 24px;
    }
    .header-inner {
        height: auto;
        padding: 20px 0;
    }
}

@media (max-width: 640px) {
    .header-inner {
        justify-content: space-around
    }
    .header-logo {
        content: url("/img/logo_short.svg");
    }
}
