:root {
  --header-height: 100px;
  --section-gap: 120px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #fefefe;
  --color-primary: #1a598e;
  --color-accent: #ffbe31;
  --color-text: #1a598e;
  --color-light: #fefefe;
  --color-hover: #c1fdfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Ithaca";
  src: url("/public/fonts/Ithaca.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
