:root {
  --header-height: 100px;
  --section-gap: 5rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #fefefe;
  --color-primary: #1a598e;
  --color-accent: #ffbe31;
  --color-text: #1a598e;
  --color-light: #fefefe;
  --color-hover: #c1fdfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Ithaca";
  src: url("/public/fonts/Ithaca.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: IBM Plex Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8vw;
}

.btn {
  font-size: 1.8rem;
  line-height: 1;
  height: var(--header-height) - 44;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 53px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: "Ithaca", "Oswald", system-ui, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition:
          background-color 0.2s ease,
          border-color 0.2s ease,
          transform 0.1s ease;
}

.btn--primary {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary);
}

.btn--outline:hover,
.btn--primary:hover,
.btn--light:hover {
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  color: var(--color-primary);
  transform: translateY(-1px);
}

*, *:before, *:after {
  box-sizing: border-box;
}
